# New App .gitignore

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Build
dist/
build/
out/

# Logs
*.log

# Cache
.cache/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Vercel
.vercel
